!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/build.css')
    script(src='/build.js')
  body
    block content
    script!= javascript
    script.
      require('boot')();
    block footer-script
