extends ../layout

block content
  h1 New Product
  form(action="/products", method="POST")
    input(type="text", name="name", placeholder="Name")
    input(type="url", name="url", placeholder="URL")
    input(type="string", name="prices[0][value]", placeholder="Regular Price");
    input(type="hidden", name="prices[0][type]", value="reg");
    input(type="string", name="prices[1][value]", placeholder="Original Price");
    input(type="hidden", name="prices[1][type]", value="org");
    input(type="hidden", name="prices[1][cur]", value="RMB¥");
    input(type="submit")
